footer.footer
    .footer__top
        .container
            .footer__top-left
                h3.footer__title Contact Us
                .footer__top-part
                    .footer__top-part-title Our address
                    .footer__top-part-desc House No, 11132, Sector 31, Gurgaon 122001 India
                .footer__top-part
                    .footer__top-part-title Call Us
                    .footer__top-part-desc + 91-9876543210
                    .footer__top-part-desc + 01262219018
                .footer__top-part
                    .footer__top-part-title Email us
                    .footer__top-part-desc contactus@email.com
            .footer__top-right
                ul.footer__links
                    li.footer__links-item
                        a(href="#").footer__links-link Home
                    li.footer__links-item
                        a(href="#").footer__links-link About
                    li.footer__links-item
                        a(href="#").footer__links-link Services
                    li.footer__links-item
                        a(href="#").footer__links-link Blog
                    li.footer__links-item
                        a(href="#").footer__links-link Contact Us
                form.footer__form
                    .footer__form-top
                        .footer__form-left
                            .footer__form-title Name :
                            input(name="name" placeholder="").footer__form-name
                        .footer__form-right
                            .footer__form-title Subject :
                            input(name="subject" placeholder="").footer__form-subject
                    .footer__form-middle
                        .footer__form-title.footer__form-title_middle Your Message :
                        textarea(name="message" placeholder="").footer__form-message
                    input(type="submit" value="Send message").footer__form-submit
    .footer__bottom
        .container
            .footer__copyright &copy; 2016 Nishant Bazzad
            .footer__btn-scroll
                i.fa.fa-chevron-up
            ul.footer__socials
                li.footer__socials-item
                    i.fa.fa-facebook
                li.footer__socials-item
                    i.fa.fa-twitter
                li.footer__socials-item
                    i.fa.fa-flickr
                li.footer__socials-item
                    i.fa.fa-linkedin