.blue-btn {
  display: block;
  height: 72px;
  padding: 22px 50px 0 70px;
  font-size: 25px;
  line-height: 1;
  font-weight: 600;
  color: #fff;
  border-radius: 45px;
  background: #00a5ff;

  &:hover {
    background: darken(#00a5ff, 10%);
  }
}