.brands {
  width: 100%;
  min-height: 429px;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 60px 0 125px;
  }

  &__title {
    margin-bottom: 74px;
  }

  &__list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
  }

  &__item {
    margin-right: 70px;

    &:nth-child(6n) {
      margin-right: 0;
    }
  }
}