.services {
  width: 100%;
  min-height: 537px;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 537px;
    padding: 65px 0 45px;
  }

  &__title {
    margin-bottom: 95px;
  }

  &__content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 270px;
    margin: 0 30px 30px 0;
    text-align: center;

    &:nth-child(4n) {
      margin-right: 0;
    }

    &-picture {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 81px;
      height: 81px;
      margin-bottom: 15px;
      border-radius: 50%;
      background: #f5f6f8;

      &-sign {
        background-image: url("../img/icons/services.png");
        background-repeat: no-repeat;

        &_logo {
          width: 35px;
          height: 35px;
          background-position: -165px -20px;
        }

        &_web {
          width: 43px;
          height: 34px;
          background-position: -240px -20px;
        }

        &_branding {
          width: 23px;
          height: 36px;
          background-position: -20px -20px;
        }

        &_illustrations {
          width: 42px;
          height: 49px;
          background-position: -83px -20px;
        }
      }
    }

    &-title {
      margin-bottom: 15px;
      font-size: 18px;
      line-height: 1.2;
      font-family: "Source Sans Pro";
      font-weight: 600;
      color: #3a3f4b;
      letter-spacing: 2px;
      text-transform: uppercase;
    }

    &-line {
      width: 41px;
      height: 1px;
      margin-bottom: 15px;
      background: #888888;
    }

    &-desc {
      font-size: 12px;
      line-height: 1.67;
      font-weight: 300;
      color: #999;
      letter-spacing: 1.75px;
    }
  }
}