section.brands
    .container
        .section-title.brands__title
            h2.section-title-text Recent brands we've worked with
            .section-line
        ul.brands__list
            li.brands__item
                img(src="img/content/bakery.png" alt="Bakery")
            li.brands__item
                img(src="img/content/cavalier.png" alt="Cavalier")
            li.brands__item
                img(src="img/content/harvest.png" alt="Harvest")
            li.brands__item
                img(src="img/content/landlock.png" alt="Landlock")
            li.brands__item
                img(src="img/content/spectrum.png" alt="Spectrum")
            li.brands__item
                img(src="img/content/home-energy.png" alt="Home energy")