section.intro
    .container
        include ../parts/_header
        .intro__content
            h1.intro__title Velox One Page Template
            .intro__desc Clean, Responsive, customizable one page template
            a(href="#").blue-btn.intro__btn Get Started Now