section.portfolio
    .container
        .section-title.portfolio__title
            .section-title-text Portfolio
            .section-line
        ul.portfolio__filters
            li.portfolio__filters-item.portfolio__filters-item_active All
            li.portfolio__filters-item Illustrations
            li.portfolio__filters-item Logo
            li.portfolio__filters-item Branding
            li.portfolio__filters-item Web design
        ul.portfolio__works
            li.portfolio__works-item
                .portfolio__works-picture(style="background-image: url('img/content/agency.jpg')")
                .portfolio__works-title Agency - PSD Template
            li.portfolio__works-item
                .portfolio__works-picture(style="background-image: url('img/content/vodka.jpg')")
                .portfolio__works-title Pure Vodka Branding
            li.portfolio__works-item
                .portfolio__works-picture(style="background-image: url('img/content/mobius.jpg')")
                .portfolio__works-title Web Design
            li.portfolio__works-item
                .portfolio__works-picture(style="background-image: url('img/content/everest.jpg')")
                .portfolio__works-title Everest Logo
            li.portfolio__works-item
                .portfolio__works-picture(style="background-image: url('img/content/poster.jpg')")
                .portfolio__works-title Poster Design
            li.portfolio__works-item
                .portfolio__works-picture(style="background-image: url('img/content/illustration.jpg')")
                .portfolio__works-title Illustration
        a(href="#").blue-btn.portfolio__btn Show More