section.reviews
    .container
        .section-title.reviews__title
            .section-title-text See what others are saying about us
            .section-line
        .slider
            .slider__btn-left
                i.fa.fa-chevron-left.slider__btn-sign
            .slider__item
                .slider__item-photos
                    .slider__photo
                        img(src="img/content/review-1.png" alt="Review").slider__photo-image
                    .slider__photo.slider__photo_active
                        img(src="img/content/review-2.png" alt="Review").slider__photo-image
                    .slider__photo
                        img(src="img/content/review-3.png" alt="Review").slider__photo-image
                .slider__item-text "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                    |  incididunt ut labore et dolore magna aliqua."
                .slider__item-signature Linda from
                    a(href="#").slider__item-signature-link example.com
                ul.slider__toggles
                    li.slider__toggles-item
                    li.slider__toggles-item
                    li.slider__toggles-item.slider__toggles-item_active
            .slider__btn-right
                i.fa.fa-chevron-right.slider__btn-sign