section.services
    .container
        .section-title.services__title
            .section-title-text Our services
            .section-line
        ul.services__content
            li.services__item
                .services__item-picture
                    .services__item-picture-sign.services__item-picture-sign_logo
                .services__item-title Logo design
                .services__item-line
                .services__item-desc Lorem ipsum is simply dummy text of the printing and typesetting let.
                    |  Lorem ipsum has been the industry.
            li.services__item
                .services__item-picture
                    .services__item-picture-sign.services__item-picture-sign_web
                .services__item-title Web design
                .services__item-line
                .services__item-desc Lorem ipsum is simply dummy text of the printing and typesetting let.
                    |  Lorem ipsum has been the industry.
            li.services__item
                .services__item-picture
                    .services__item-picture-sign.services__item-picture-sign_branding
                .services__item-title Branding
                .services__item-line
                .services__item-desc Lorem ipsum is simply dummy text of the printing and typesetting let.
                    |  Lorem ipsum has been the industry.
            li.services__item
                .services__item-picture
                    .services__item-picture-sign.services__item-picture-sign_illustrations
                .services__item-title Illustrations
                .services__item-line
                .services__item-desc Lorem ipsum is simply dummy text of the printing and typesetting let.
                    |  Lorem ipsum has been the industry.