doctype html
html(lang="EN")
  head
    meta(charset="utf-8")
    meta(content="width=device-width, initial-scale=1" name="viewport")
    meta(content="ie=edge" http-equiv="x-ua-compatible")
    title Velox

    link(rel='stylesheet' href='css/vendor.css')
    link(rel='stylesheet' href='css/main.css')

    <!--[if lt IE 9]>
    script(src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
    <![endif]-->

  body
    include ../sections/_intro
    include ../sections/_services
    include ../sections/_portfolio