nav.nav
    ul.nav__list
        li.nav__item
            a(href="#").nav__link Services
        li.nav__item
            a(href="#").nav__link Portfolio
        li.nav__item
            a(href="#").nav__link Testimonials
        li.nav__item
            a(href="#").nav__link About
        li.nav__item
            a(href="#").nav__link Contact